.container {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(48px);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container.static {
  position: static;
  transform: translateY(0);
}

.control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.countWrapper {
  display: flex;
  height: 23px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 99px;
  cursor: pointer;
}

.countWrapper:hover {
  background: var(--Foundation-Brand-brand-50, #efeafd);
}

.countWrapper.active {
  background: var(--Foundation-Brand-brand-50, #efeafd);
}

.count {
  color: var(--brand, #6148c2);

  /* paragraph 1: SemiBold */
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.ctrl {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: var(--Foundation-Brand-brand-50, #efeafd);
  cursor: pointer;
}

.ctrl .text {
  color: var(--Foundation-Brand-brand-500, #5b29ec);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.control .ctrl:last-child img {
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .counterWrapper {
    display: none;
  }
}
