.container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  max-width: 1536px;
  margin: 0 auto;
}

.container .main,
.container .rightSide {
  position: sticky;
  top: 0;
}

.main {
  flex: 50%;
  height: 100%;
  padding: 64px 100px;
}

.rightSide {
  flex: 50%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 86px;
  padding: 42px;
  padding-top: 100px;
  padding-bottom: 76px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  max-width: 638px;
  color: #fbfbfb;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px; /* 145% */
}

.bannerImageContainer {
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bannerImageContainer img {
  width: 100%;
  height: auto;
}

.bannerImageContainer img:first-child {
  width: 241px;
  height: 347px;
  flex-shrink: 0;
  position: absolute;
  opacity: 0;
  animation: pop-left 6s 650ms forwards cubic-bezier(0.8, 0.08, 0.07, 1.36);
}

.bannerImageContainer img:nth-child(2) {
  width: 273px;
  height: 397px;
  flex-shrink: 0;
  aspect-ratio: 273/397;
  z-index: 1;
  transform: translateY(0);
  opacity: 0;
  animation: pop-up 3s 650ms forwards cubic-bezier(0.8, 0.08, 0.07, 1.36);
}

.bannerImageContainer img:nth-child(3) {
  width: 241px;
  height: 347px;
  transform: rotate(-8.414deg);
  flex-shrink: 0;
  position: absolute;
  opacity: 0;
  animation: pop-right 6s 650ms forwards cubic-bezier(0.8, 0.08, 0.07, 1.36);
}

@keyframes pop-up {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pop-left {
  from {
    opacity: 0;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}

@keyframes pop-right {
  from {
    opacity: 0;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(50%);
  }
}

.coreList {
  max-width: 286px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.coreItem {
  display: flex;
  padding: 6px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 32px;
  background: rgba(161, 107, 240, 0.64);
  cursor: default;

  /* text */
  color: #fff;
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  animation: wamble 2s forwards infinite linear;
  animation-play-state: paused;
}

.coreItem:hover {
  /* animation-play-state: running; */
}

@keyframes wamble {
  0% {
    transform: translateY(-4px) translateX(0);
  }
  25% {
    transform: translateY(0) translateX(4%);
  }
  50% {
    transform: translateY(4px) translateX(0);
  }
  75% {
    transform: translateY(0) translateX(-4%);
  }
  100% {
    transform: translateY(-4px) translateX(0);
  }
}

@media screen and (max-width: 1280px) {
  .main {
    padding: 64px 32px;
  }

  .rightSide {
    padding: 32px;
    padding-top: 98px;
    gap: 48px;
  }

  .title {
    font-size: 32px;
    line-height: 46px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .rightSide {
    display: none;
  }

  .main {
    max-width: 540px;
  }
}

@media screen and (max-width: 540px) {
  .main {
    padding: 32px 16px;
  }
}
