.wrapper {
  width: 100%;
  background: linear-gradient(
    168deg,
    rgba(231, 230, 252, 0.36) 0.7%,
    rgba(171, 171, 206, 0.06) 94.62%
  );
  padding-top: 112px;
  margin-bottom: 154px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 88px;
}

.details_button {
  width: 100%;
  max-width: 554px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  margin-bottom: 32px;
}

.heading h1 {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64.8px; /* 124.615% */
}

.heading p {
  color: #4f5664;
  text-align: justify;
  font-family: Manrope;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 157.895% */
}

.category {
  color: #4f5664;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px; /* 128% */
}

.accent {
  color: #2d29d7;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.6px;
}

.faint {
  color: #cbd3e2;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.6px;
}

.listContainer {
  margin-top: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}

.item {
  color: var(--Foundation-Text-color-text-color-300, #5c5c5c);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.btnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
