.container {
  width: 100%;
  height: 100%;
  /*  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* text */
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.header {
  width: 100%;
  margin-bottom: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.backBtn svg {
  transition: all 300ms;
}

.backBtn:hover svg {
  transform: translateX(-4px);
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
