.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  background: #edebff;
  margin-bottom: 108px;
  padding: 72px 59px;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  margin-bottom: 72px;
}

.title {
  color: #111;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px; /* 145% */
  letter-spacing: -1px;
}

.description {
  color: #4f5664;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px; /* 231.25% */
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.routeImg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  transform: scale(0.88);
}

.animatedBox {
  position: absolute;
}

.coin1,
.coin2 {
  position: absolute;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.coin1 {
  left: 30px;
  bottom: 0px;
  animation: bounceSpinLeft 10s infinite linear;
}

.coin2 {
  right: 10px;
  top: 10px;
  animation: bounceSpinRight 10s infinite linear;
}

@keyframes bounceSpinLeft {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(360deg);
  }
}

@keyframes bounceSpinRight {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(-360deg);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-bottom: 88px;
  }

  .routeImg {
    transform: scale(0.86);
  }

  .coin1,
  .coin2 {
    width: 60px;
    height: 60px;
  }

  .coin1 {
    left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .routeImg {
    transform: scale(0.84);
  }

  .coin1,
  .coin2 {
    width: 40px;
    height: 40px;
  }

  .coin1 {
    left: 10px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding: 0;
    padding-top: 35px;
    padding-bottom: 26px;
    border-radius: 8px;
    margin-bottom: 34px;
  }

  .heading {
    margin-bottom: 32px;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    letter-spacing: -1px;
  }

  .description {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px; /* 158.333% */
    padding: 0 16px;
  }

  .coin1,
  .coin2 {
    width: 35px;
    height: 40px;
  }

  .coin1 {
    bottom: 0;
  }

  .coin2 {
    top: 10px;
  }
}
