.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close {
  width: 40px !important;
  height: 40px !important;
  background: #f4f5f6 !important;
  border-radius: 4px !important;
}

.headerWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: -16px;
}

.header {
  width: 100%;
}

.header .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 12px;
  /* text */
  color: var(--gray-800, #1f2937);
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.24px;
}

.header .description {
  color: var(--gray-500, #6b7280);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.subscriptionDuration {
  color: var(--gray-400, #9ca3af);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.gridBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.gridBox .item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* text */
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
}

.gridBox .item .name {
  color: var(--gray-500, #6b7280);
  font-size: 18px;
}

.gridBox .item .value {
  color: var(--gray-800, #1f2937);
  font-size: 20px;
}

.line {
  width: 100%;
  margin: 32px 0;
  border-bottom: 1px solid #ced1d8;
}

.codeWrapper {
  width: 100%;
}

.codeWrapper .tab {
  width: 100%;
  display: flex;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--gray-200, #e5e7eb);
  background: #fff;
  margin-bottom: 20px;
  cursor: default;
  /* text */
  color: var(--gray-800, #1f2937);
  text-align: right;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}

.codeContainer {
  width: 100%;
  height: 184px;
  display: flex;
  padding: 24px 392px 24px 24px;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: #1c2335;
  /* text */
  color: #fff;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.copyIcon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.iconBtn {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  /* text */
  color: var(--gray-800, #1f2937);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
