.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    155deg,
    #f1f0fa -8.48%,
    rgba(237, 235, 255, 0.81) 158.51%
  );
  margin-bottom: 150px;
  padding-top: 72px;
  position: relative;
  z-index: 99;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 112px;
}

.title {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 64.8px; /* 120% */
}

.listContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
  gap: 28px;
}

.box {
  display: flex;
  width: 100%;
  height: 180px;
  padding: 16px 16px 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text */
  border-radius: 16px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 4px 4px 0px 0px #2d29d7;
  border: 1px solid #111;
  transition: all 300ms;
  cursor: default;
}

.box:hover {
  box-shadow: none;
  box-shadow: 2px 2px 0px 0px #2d29d7;
}

.count {
  color: var(--Foundation-Brand-brand-500, #5b29ec);
  font-family: "Space Grotesk";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 145.455% */
}

.name {
  color: var(--Foundation-Text-color-text-color-300, #5c5c5c);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.gatewaysDesktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  /* margin-bottom: 132px; */
  overflow: hidden;
}

.gatewaysMobile {
  display: none;
}

.scroller {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  animation: scroll 15s infinite linear;
}

.image {
  width: 100%;
  max-width: 1320px;
}

.image img {
  width: 100%;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 40px));
  }
}

.logo {
  width: 80px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--Foundation-Brand-brand-500, #5b29ec);
  background: #fff;
  box-shadow: 0px 8px 40px 0px #e8eaed;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-bottom: 88px;
  }

  .listContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 56px;
  }

  .title {
    font-size: 42px;
    line-height: 54px;
  }

  .gatewaysDesktop {
    /* margin-bottom: 72px; */
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding: 16px;
    padding-bottom: 0;
    margin-bottom: 32px;
  }

  .wrapper {
    margin-bottom: 58px;
  }

  .container {
    padding-top: 24px;
    padding-bottom: 18px;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
  }

  .listContainer {
    margin-top: 24px;
  }

  .count {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px; /* 125% */
  }

  .name {
    font-size: 12px;
    font-weight: 500;
    line-height: 24px; /* 200% */
  }

  .gatewaysDesktop {
    display: none;
  }

  .gatewaysMobile {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 16px;
    margin-bottom: 32px;
  }

  .logo {
    width: 100%;
    height: 60px;
  }
}

@media screen and (max-width: 480px) {
  .gatewaysMobile {
    grid-template-columns: repeat(3, 1fr);
  }
}
