.container {
  width: 372px;
  height: 372px;
  border-radius: 50%;
  background: #aeacff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
  overflow: hidden;
}

.title {
  width: 100%;
  max-width: 292px;
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-align: center;
}

.title span {
  color: #2d29d7;
}

.bannerImageContainer {
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 1250ms;
}

.bannerImageContainer img {
  width: 100%;
  height: auto;
  transition: all 650ms;
}

.bannerImageContainer img:first-child,
.bannerImageContainer img:nth-child(2) {
  width: 185px;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  bottom: -44px;
  opacity: 0;
}

.bannerImageContainer.trigger img:first-child {
  animation: pop-left 1.65s forwards cubic-bezier(0.19, 0.07, 0.05, 1);
}

.bannerImageContainer.trigger img:nth-child(2) {
  animation: pop-right 1.65s forwards cubic-bezier(0.19, 0.07, 0.05, 1);
}

.container:hover .bannerImageContainer img {
  bottom: -68px;
}

@keyframes pop-left {
  from {
    opacity: 0;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(-30%);
  }
}

@keyframes pop-right {
  from {
    opacity: 0;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(30%);
  }
}

@media screen and (max-width: 540px) {
  .container {
    width: 320px;
    height: 320px;
    padding-top: 60px;
  }

  .bannerImageContainer img:first-child,
  .bannerImageContainer img:nth-child(2) {
    width: 158px;
  }
}
