.container {
  width: 100%;
  max-width: 160px;
}

.container.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container.center .input {
  text-align: center;
}

.input {
  width: 100%;
  border: 1px solid transparent;
  background: transparent;
  /* text */
  color: #f8f8f8;
  font-family: var(--font-barlow);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.522px; /* 81.34% */
}

.input.error {
  border: 1px solid #ff3225;
}

.input:focus,
.input.focus {
  outline: 1px solid transparent;
}

.input::placeholder {
  color: #8e8e8e;
  font-family: var(--font-barlow);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.522px; /* 81.34% */
}
