.container {
  width: 100%;
  height: 108px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #ffe46d;
  background: #fffbee;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.title {
  color: #9a5c0a;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

.description {
  color: #9a5c0a;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.checklistBtn {
  display: inline-flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #fff2c6 !important;
  /* text */
  color: #9a5c0a;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
