.container {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  cursor: pointer;
  transition: all 150ms;
  white-space: nowrap;
  border-radius: 12px;
  background: #5b29ec;
}

.container:hover {
  filter: brightness(90%);
}

.container:hover:not(.disabled) .text img:last-child {
  transform: translateX(4px);
}

.container .text img:last-child {
  transition: all 300ms;
}

.container.neutral {
  all: unset;
  cursor: pointer;
}

.container.neutral .text {
  color: #fff;
}

.container.outline {
  border: 1px solid #5b29ec;
  background: transparent;
}

.container.outline .text {
  color: #5b29ec;
}

.disabled {
  /* background: var(--disabled); */
  cursor: not-allowed;
}

.disabled .text {
  /* color: var(--disabled-faint); */
}

.container.disabled:hover {
  /* background: var(--disabled); */
}

.text {
  width: 100%;
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.loadingIcon {
  color: var(--neutral-01100, #fefefe);
}
