.container {
  width: 100%;
  max-width: 140px;
  max-width: max-content;
  padding: 2px 8px;
  padding-bottom: 3px;
  border-radius: 12px;
  /* text */
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 160% */
  white-space: nowrap;
  text-align: center;
  text-transform: capitalize;
}

.completed,
.accepted,
.success,
.paid {
  background: #bbf7d0;
  color: #166534;
}

.in-progress,
.trialing {
  background: rgba(85, 112, 241, 0.16);
  color: #5570f1;
}

.processing {
  color: #738bff;
  background: #dee8ff;
}

.awaiting-confirmation,
.pending-confirmation,
.pending,
.cancelling,
.inactive,
.trial {
  background: #fff2e2;
  color: #f29339;
}

.failed,
.cancelled {
  background: #f7e3e1;
  color: #ee3f33;
}

.customer-approved {
  color: #9edea8;
  background: #ecffef;
}

.customer-cancelled,
.customer-canceled {
  color: #ff736a;
  background: #f7efee;
}

.expired {
  color: #7f7f7f;
  background: #ebebeb;
}
