.container {
  border: none;
  outline: none;
  display: flex;
  width: max-content;
  padding: 0 16px;
  height: 46px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  user-select: none;
  background: #2f2fdd;
  transition: all 100ms;

  /* default text */
  color: var(--white, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}

.container.primary {
  color: #fff;
}

.container.primary.outlined {
  background: #ffffff;
  border: 2px solid #bfcdfe;
  color: #2f2fdd;
}

.container.secondary {
}

.container.danger {
  background: #ef4444;
}

.container.neutral {
}

.container.neutral.outlined {
  border: 2px solid #e5e7eb;
  background: #fff;
  color: #6b7280;
}

.container.text {
  display: inline-flex;
  padding: 0;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: none;
  background: transparent;
  /* text */
  color: #2f2fdd;
  text-align: right;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
  transition: all 300ms;
}

.container:hover {
  transform: scale(0.995);
}

.container.click {
  transition: transform 10ms !important;
  transform: scale(0.98);
}

.container.link:hover::after,
.container.text:hover::after,
.container.noHoverBg:hover::after,
.container.textInput:hover::after {
  background: transparent !important;
  border-radius: none;
}

.container:hover:not(.disabled):after {
  background: rgba(0, 0, 0, 0.05);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
