.container {
  width: auto;
}

.selected,
.country {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 0;
  transition: all 300ms;
}

.container.isNetwork .selected {
  width: max-content;
}

.country {
  padding: 8px 24px;
}

.selected {
  width: max-content;
  border-radius: 99px;
  background: var(--white, #fff);
  justify-content: center;
  padding: 8px;
  border: 1px solid transparent;
}

.selected:hover {
  border: 1px solid var(--Foundation-Brand-brand-500, #5b29ec);
}

.country:hover {
  background: rgba(90, 41, 236, 0.03);
}

.countryFlag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.country .countryFlag {
  gap: 18px;
}

.nameCode {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}

.nameCode .name {
  text-transform: uppercase;
}

.name {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container.isNetwork .name {
  text-transform: capitalize;
}

.container.isNetwork .selected:hover {
  border: 1px solid transparent;
  cursor: text;
}

.code {
  color: var(--Foundation-Text-color-text-color-200, #8f8f8f);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.iconContainer {
  width: 24px;
  height: 24px;
  background: gainsboro;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.iconContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  border-radius: 24px 24px 0px 0px;
  background: var(--white, #fff);
  /* padding: 0 24px; */
  padding-top: 34px;
  transform: translateY(100%);
  animation: enter 200ms forwards;
}

@keyframes enter {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.headingSearch {
  padding: 0 24px;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  /* text */
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.heading img {
  cursor: pointer;
}

.searchWrapper {
  margin-bottom: 15px;
}

.countryWrapper {
  width: 100%;
  height: calc(100% - 116px);
  overflow: auto;
  padding-right: 4px;
}

.network {
  border-radius: 4px;
  background: var(--gray-100, #f3f4f6);
  padding: 4px;
  /* text */
  color: var(--Foundation-Text-color-text-color-300, #5c5c5c);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
