.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  /* text */
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  overflow: hidden;
  background: #eeeeee;
}

.iconContainer img,
.iconContainer svg {
  width: 100%;
  height: auto;
}
