.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.container label {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container input[type="radio"] {
  display: none;
}

/* Style the label to look like a custom radio button */
.container .radio {
  cursor: pointer;
  position: relative;
  user-select: none;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #979797;
}

/* Style the custom radio button icon */
.container .radio::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Style the custom radio button when it's checked */
.container input[type="radio"]:checked + .radio::before {
  background-color: var(--primary);
}

.container input[type="radio"]:checked + .radio {
  border: 2px solid var(--primary);
}
