.container {
  width: 100%;
  display: inline-flex;
  padding: 16px 23px 16px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;

  border-radius: 8px;
  background: #f3f4ff;
}

.container.default .bar {
  background: var(--faint) !important;
}

.bars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.bar {
  flex: 1;
  height: 6px;
  border-radius: 12px;
  background: var(--error);
}

.bar.valid {
  background: var(--primary);
}

.char {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;

  /* text */
  color: var(--neutral-2, #23262f);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
