.container {
  display: flex;
  width: 434px;
  padding: 12px 16px 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  background: #f5f7fd;
}

.innerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}

.title {
  color: var(--Foundation-Text-color-text-color-300, #5c5c5c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.value {
  flex: 1;
}

.value input {
  width: 100%;
  /* text */
  color: var(--Foundation-Text-color-text-color-500, #0c0c0c);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
  background: transparent;
}

.value input::placeholder {
  color: var(--Foundation-Text-color-text-color-200, #8f8f8f);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
