.container {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  background: #f5f7fd;
  border: 1px solid transparent;
  transition: all 300ms;
  cursor: default;
}

.container.swap {
  border: 1px solid #ebeefa;
  background: #fafafc;
}

.container:hover {
  border-radius: 8px;
  border: 1px solid #d2d8ea;
}

.container.error {
  border: 1px solid #ef4444;
}

.innerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.title {
  color: var(--Foundation-Text-color-text-color-300, #5c5c5c);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.value {
  flex: 1;
}

.value input {
  width: 100%;
  /* text */
  color: var(--Foundation-Text-color-text-color-500, #0c0c0c);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  outline: none;
  background: transparent;
}

.value input::placeholder {
  color: var(--Foundation-Text-color-text-color-200, #8f8f8f);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.crypto_network {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}

.container .error {
  width: 100%;
  border-top: 1px solid var(--gray-200, #e5e7eb);
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /*  */
  color: var(--red-500, #ef4444);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .value input,
  .value input::placeholder {
    font-size: 16px;
  }
}
