.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  border-radius: 24px;
  border: 1px solid #7d7d7d;
  background: #fff;
  margin-bottom: 120px;
  padding-right: 52px;
  padding-left: 40px;
  padding-top: 64px;
  padding-bottom: 34px;
}

.details {
  width: 100%;
  max-width: 399px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title {
  color: var(--Foundation-Brand-brand-500, #5b29ec);
  font-family: "Space Grotesk";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64.8px; /* 124.615% */
}

.description {
  color: #4f5664;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px; /* 231.25% */
}

.inputWrapper {
  width: 100%;
  max-width: 522px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btnContainer {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .details,
  .inputWrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .container {
    flex-direction: column;
    border-radius: 16px;
    padding: 24px 16px;
    margin-bottom: 40px;
  }

  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px; /* 125% */
  }

  .description {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
}
