.container {
  width: 100%;
  padding-bottom: 82px;
  padding-top: 148px;
  position: relative;
  z-index: 1;
}

.rightShade {
  border-radius: 1174px;
  opacity: 0.75;
  background: linear-gradient(
    236deg,
    rgba(45, 41, 215, 0.27) 12.02%,
    rgba(174, 172, 255, 0.13) 84.84%
  );
  filter: blur(100px);
  width: 1174px;
  height: 1174px;
  transform: rotate(90.193deg);
  flex-shrink: 0;
  position: absolute;
  right: 0;
  top: 20px;
  transform: translateX(70%);
}

.leftShade {
  width: 813.896px;
  height: 813.896px;
  transform: rotate(-90.24deg);
  border-radius: 813.896px;
  opacity: 0.75;
  background: linear-gradient(
    245deg,
    rgba(45, 41, 215, 0.13) 27.67%,
    rgba(174, 172, 255, 0.13) 86.62%
  );
  filter: blur(100px);
  position: absolute;
  top: 20px;
  left: 0;
  transform: translateX(-70%);
}

.lines {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -20%);
  z-index: 1;
  display: none;
}

.title {
  color: #111;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 133.333% */
}

.listContainer {
  width: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 72px;
}

.box {
  display: flex;
  width: 173.32px;
  padding: 61px 26.66px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  border-right: 0.8px solid #e4e7e9;
  border-left: 0.8px solid #e4e7e9;
  border-bottom: 0.8px solid #e4e7e9;
}

.iconContainer {
  width: 32px;
  height: 32px;
  flex: 0 0 auto;
}

.iconContainer img {
  width: 100%;
  height: auto;
}

.name {
  color: #111;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 100% */
}

.comingSoon,
.live {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  gap: 4px;
  padding: 2px 8px;
  border-radius: 6px;
}

.comingSoon {
  background: var(--Foundation-Brand-brand-50, #efeafd);
  /* text */
  color: var(--Foundation-Brand-brand-500, #5b29ec);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 160% */
}

.live {
  background: var(--green-100, #dcfce7);
  /* text */
  color: var(--green-500, #22c55e);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 120% */
}

.live .dot {
  width: 6px;
  height: 6px;
  background: var(--green-500, #22c55e);
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-top: 88px;
  }

  .listContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .title {
    font-size: 42px;
    line-height: 54px;
  }

  .rightShade {
    transform: translateX(80%);
  }

  .leftShade {
    transform: translateX(-80%);
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  .rightShade {
    transform: translateX(90%);
  }

  .leftShade {
    transform: translateX(-90%);
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
  }

  .listContainer {
    margin-top: 20px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .box {
    width: 100%;
    padding: 16px 8px;
  }

  .name {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
  }

  .iconContainer {
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
  }
}
