.container {
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid #ffe46d;
  background: #fffbee;
}

.title {
  color: #9a5c0a;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  margin-bottom: 4px;
}

.description {
  color: #9a5c0a;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
