.container {
  width: 100%;
}

.selected,
.country {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 0;
  transition: all 100ms;
}

.country:hover,
.selected:hover {
  /* background: #f3f4f6; */
}

.tickIcon {
  visibility: hidden;
}

.country:hover .tickIcon,
.tickIcon.active {
  visibility: visible;
}

.countryFlag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.country .countryFlag {
  gap: 18px;
}

.nameCode {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}

.name {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.code {
  color: var(--Foundation-Text-color-text-color-200, #8f8f8f);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.iconContainer {
  width: 24px;
  height: 24px;
  background: #f6f6f6;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.iconContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrowUp {
  transform: rotate(180deg);
}

.wrapper {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  border-radius: 24px 24px 0px 0px;
  background: var(--white, #fff);
  padding-top: 34px;
  transform: translateY(100%);
  animation: enter 200ms forwards;
}

@keyframes enter {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.headingContainer {
  padding: 0 24px;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  /* text */
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.heading img {
  cursor: pointer;
}

.searchWrapper {
  margin-bottom: 15px;
}

.countryWrapper {
  width: 100%;
  height: calc(100% - 116px);
  overflow: auto;
  padding-right: 4px;
  padding-left: 24px;
}
