.container {
  width: 482px;
  height: auto;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.12);
  padding: 32px 24px;
  position: relative;
  overflow: hidden;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.tabSwitch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  position: relative;
}

.tab {
  color: var(--Foundation-Text-color-text-color-100, #b4b4b4);
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.tab.active {
  color: var(--Foundation-Text-color-text-color-500, #0c0c0c);
}

.underline {
  position: absolute;
  width: 50%;
  left: 0;
  bottom: -6px;
  height: 1.5px;
  border-radius: 8px;
  background: var(--Foundation-Brand-brand-500, #5b29ec);
}

.underline.sell {
  left: unset;
  right: 0;
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.panelWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 24px;
}
