.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 34px;
  padding-top: 92px;
  margin-bottom: 92px;
  overflow: hidden;
}

.shade {
  width: 813.896px;
  height: 813.896px;
  transform: rotate(-90.24deg);
  flex-shrink: 0;
  border-radius: 813.896px;
  opacity: 0.75;
  background: linear-gradient(
    245deg,
    rgba(45, 41, 215, 0.12) 27.67%,
    rgba(174, 172, 255, 0.13) 86.62%
  );
  filter: blur(100px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.image {
  width: 100%;
  padding-top: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100%;
  height: auto;
}

.details_button {
  width: 100%;
  max-width: 651px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}

.heading h1 {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 64.8px; /* 124.615% */
}

.subHeading {
  color: #4f5664;
  text-align: left;
  font-family: "Space Grotesk";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 157.895% */
}

.listContainer {
  margin-top: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 11px;
}

.item {
  color: var(--Foundation-Text-color-text-color-300, #5c5c5c);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

@media screen and (max-width: 1200px) {
  .heading h1 {
    font-size: 42px;
    line-height: 54px;
  }

  .subHeading {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-top: 68px;
    margin-bottom: 88px;
    flex-direction: column-reverse;
    gap: 0;
  }

  .details_button {
    max-width: 100%;
  }

  .image {
    padding-top: 0;
  }

  .heading {
    gap: 24px;
  }

  .heading h1 {
    font-size: 42px;
    line-height: 54px;
  }

  .subHeading {
    font-size: 16px;
  }

  .listContainer {
    gap: 16px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding-top: 16px;
    margin-bottom: 24px;
  }

  .heading {
    gap: 16px;
  }

  .heading h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px; /* 125% */
  }

  .subHeading {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .listContainer {
    gap: 12px;
  }

  .box {
    gap: 8px;
  }

  .box img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .item {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
}
