.container {
  width: 100%;
  margin-bottom: 125px;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 64px;
}

.title {
  color: #000;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 64.8px; /* 120% */
}

.subTitle {
  color: #000;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 168.421% */
}

.description {
  color: #000;
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 168.421% */
}

.listContainer {
  width: max-content;
  margin: 0 auto;
  display: grid;
  gap: 38px;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  display: flex;
  width: 372px;
  height: 372px;
}

@media screen and (max-width: 540px) {
  .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
  }

  .subTitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; /* 125% */
  }

  .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .listContainer {
    grid-template-columns: auto;
  }
}
