.container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 16px;
}

.inputContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #d1d5db);
  background: var(--white, #fff);
}

.inputContainer input {
  width: 100%;
  max-width: 60%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  /* text */
  color: var(--Foundation-Text-color-text-color-500, #0c0c0c);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.copyIcon {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #d1d5db);
  background: var(--white, #fff);
}

.label {
  margin-bottom: 12px;
  /* text */
  color: var(--gray-700, #374151);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.note {
  margin-top: 12px;
  /* text */
  color: var(--gray-500, #6b7280);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
