.container {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 57px;
  margin-bottom: 160px;
}

.iconContainer {
  width: max-content;
  align-self: flex-start;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 62px;
}

.title {
  color: #000;
  font-family: "Space Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64.8px; /* 135% */
}

.accent {
  color: var(--Foundation-Brand-brand-500, #5b29ec);
}

.details {
  width: 100%;
  max-width: 551px;
}

.listContainer {
  margin-top: 52px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.item {
  color: var(--Foundation-Text-color-text-color-300, #5c5c5c);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: auto;
}

.codeBox {
  background: #090628;
  width: 100%;
  max-width: 582px;
  /* height: 485px; */
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }

  .container {
    margin-bottom: 88px;
  }

  .iconContainer {
    display: none;
  }

  .details {
    max-width: 100%;
  }

  .title {
    font-size: 36px;
  }

  .codeBox {
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .container {
    margin-bottom: 54px;
  }

  .title,
  .accent {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
  }

  .listContainer {
    margin-top: 32px;
    gap: 16px;
  }

  .item {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }

  .codeBox {
    /* height: 285px; */
  }
}
