.container {
  width: auto;
  flex: 70%;
  padding: 16px;
  padding-bottom: 32px;
  height: 455px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(170, 170, 170, 0.25);
  display: flex;
  flex-direction: column;
}

.chartContainer {
  width: 100%;
  height: auto;
  min-height: 276px;
  width: 100%;
  position: relative;
  margin-bottom: 32px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 76px;
}

.title {
  color: var(--Neutral-3, #353945);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: -0.2px;
}
