.container {
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14.5px 12px;
  border-radius: 12px;
  background: var(--Foundation-Brand-brand-900, #261163);
  margin-bottom: 44px;
}

.container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.container span {
  color: var(--Foundation-Text-color-text-color-50, #e7e7e7);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chevron {
  cursor: pointer;
}

.logo {
  width: auto !important;
  height: 16px;
}
