.wrapper {
  width: 100%;
  background: var(--black, #000);
  padding-top: 163px;
  padding-bottom: 161px;
  margin-bottom: 82px;
}

.container {
  width: 100%;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.heading h1 {
  color: var(--Foundation-Text-color-text-color-50, #e7e7e7);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 64.8px; /* 120% */
  margin-bottom: 45px;
}

.heading h2 {
  color: var(--Foundation-Text-color-text-color-50, #e7e7e7);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 168.421% */
  margin-bottom: 13px;
}

.heading p {
  max-width: 765px;
  color: var(--Foundation-Text-color-text-color-50, #e7e7e7);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 168.421% */
}

.listContainer {
  width: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 72px;
}

.box {
  display: flex;
  width: 173.32px;
  height: 144px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  border-right: 0.8px solid #e4e7e9;
  border-bottom: 0.8px solid #e4e7e9;
  border-left: 0.8px solid #e4e7e9;
}

.box:nth-child(11),
.box:nth-child(12),
.box:nth-child(13),
.box:nth-child(14),
.box:nth-child(15) {
  border-bottom: none;
}

.box .name {
  color: var(--Foundation-Text-color-text-color-50, #e7e7e7);
  font-family: Inter;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 100% */
}

.box .comingSoon {
  display: flex;
  padding: 2px 8px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: var(--Foundation-Brand-brand-50, #efeafd);
  /* text */
  color: var(--Foundation-Brand-brand-500, #5b29ec);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 160% */
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 88px 0;
    margin-bottom: 68px;
  }

  .heading h1 {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 32px;
  }

  .heading h2 {
    font-size: 18px;
  }

  .heading p {
    font-size: 16px;
  }

  .listContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .box {
    padding: 24px;
  }

  .box:nth-child(11),
  .box:nth-child(12) {
    border-right: 0.8px solid #e4e7e9;
    border-bottom: 0.8px solid #e4e7e9;
    border-left: 0.8px solid #e4e7e9;
  }
}

@media screen and (max-width: 540px) {
  .wrapper {
    padding-top: 32px;
    padding-bottom: 58px;
    margin-bottom: 32px;
  }

  .heading h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin-bottom: 24px;
  }

  .heading h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; /* 125% */
    margin-bottom: 16px;
  }

  .heading p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .listContainer {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 52px;
  }

  .box {
    width: auto;
    height: auto;
    padding: 8px;
  }

  .box .name {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
  }
}
