.container {
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: -5px;
  transform: translateY(100%);
  overflow: hidden;
}

.container.open .contentWrapper {
  transition: transform 450ms;
  transform: translateY(0);
}

.container.close .contentWrapper {
  transition: transform 650ms;
  transform: translateY(-100%);
}

.container.close {
  transition: visibility 650ms;
  visibility: hidden;
}

.container.static {
  position: static;
  transform: translateY(0);
  transition: height 450ms;
  height: var(--container-height);
}

.container.static.open .contentWrapper {
  transition: unset;
  transform: translateY(0);
}

.container.static.close .contentWrapper {
  transition: unset;
  transform: translateY(0);
}

.container.static.close {
  height: 0;
  transition: height 300ms;
  visibility: visible;
}
