.container {
  display: flex;
  width: 100%;
  max-width: 434px;
  align-items: center;
  justify-content: flex-start;
  background: var(--gray-100, #f3f4f6);
  position: relative;
  border-radius: 32px;
}

.container img {
  position: absolute;
  left: 24px;
}

.container input {
  width: 100%;
  background: transparent;
  padding: 14px 24px;
  padding-left: 60px;
  border-radius: 32px;
  outline: none;
  border: none;

  color: var(--Foundation-Text-color-text-color-400, #3d3d3d);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container input::placeholder {
  color: var(--Foundation-Text-color-text-color-400, #3d3d3d);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.7;
}
