.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileImage {
  width: 32px;
  height: 32px;
  background: rgb(0, 0, 0, 0.05);
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  color: var(--neutral-3, #353945);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.email {
  color: var(--neutral-4, #777e90);
  font-family: "DM Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.role {
  color: var(--neutral-3, #353945);
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
