.container {
  width: 100%;
}

.text {
  width: 100%;
  margin-bottom: 40px;
  /* text */
  color: var(--gray-500, #6b7280);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
