.container {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.item {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--Neutral-6, #e6e8ec);
  cursor: pointer;
  /* text */
  color: var(--Neutral-2, #23262f);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
  letter-spacing: -0.5px;
}

.item.active {
  color: #ffffff;
  background: #4c6fff;
}
