.container {
  width: 100%;
  padding: 24px;
  padding-bottom: 20px;
  position: relative;
}

.container.border {
  border-bottom: 1px solid #e7e7e7;
}

.titleAndClose {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.description {
  margin-top: 12px;
  /* text */
  color: var(--Grays-Gray, var(--Grays-Gray, #8e8e93));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
}

.close {
  position: absolute;
  right: 24px;
  top: 24px;
}
