.wrapper {
  width: max-content;
  position: relative;
  overflow: hidden;
  user-select: none;
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper:hover {
  transform: translateY(-1px);
}

.wrapper.click {
  transform: scale(0.98);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
